In [1]:
import pandas as pd

In [2]:
df=pd.read_json("D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\web_scraping\spiders\worldometers\popjao.json")

In [4]:
df.head()

  country    year     population
0   India  2023.0  1,428,627,663
1   India  2022.0  1,417,173,173
2   India  2020.0  1,396,387,127
3   India  2015.0  1,322,866,505
4   India  2010.0  1,240,613,620

In [5]:
df.shape

(3905, 3)

In [12]:
df["country"]

0       India
1       India
2       India
3       India
4       India
        ...
3900    China
3901    China
3902    China
3903    China
3904    China
Name: country, Length: 3905, dtype: object

In [14]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,3895,3896,3897,3898,3899,3900,3901,3902,3903,3904
country,India,India,India,India,India,India,India,India,India,India,...,China,China,China,China,China,China,China,China,China,China
year,2023.0,2022.0,2020.0,2015.0,2010.0,2005.0,2000.0,1995.0,1990.0,1985.0,...,2000.0,1995.0,1990.0,1985.0,1980.0,1975.0,1970.0,1965.0,1960.0,1955.0
population,"1,428,627,663","1,417,173,173","1,396,387,127","1,322,866,505","1,240,613,620","1,154,638,713","1,059,633,675","964,279,129","870,452,165","780,242,084",...,"1,264,099,069","1,218,144,426","1,153,704,252","1,060,239,979","982,372,466","915,124,661","822,534,450","723,846,349","654,170,692","603,320,147"

In [15]:
df

     country    year     population
0      India  2023.0  1,428,627,663
1      India  2022.0  1,417,173,173
2      India  2020.0  1,396,387,127
3      India  2015.0  1,322,866,505
4      India  2010.0  1,240,613,620
...      ...     ...            ...
3900   China  1975.0    915,124,661
3901   China  1970.0    822,534,450
3902   China  1965.0    723,846,349
3903   China  1960.0    654,170,692
3904   China  1955.0    603,320,147

[3905 rows x 3 columns]